<%= render "layouts/errors", :object => @product %>

<div class="product-form">
<%= form_for @product do |f| %>
  <%= f.text_field :name, :class => 'form-control', :placeholder => "name" %>
  <%= f.text_field :cost, :class => 'form-control', :placeholder => "cost"%>
  <%= f.text_field :country, :class => 'form-control', :placeholder => "country"%>
  <small>* image must be a url ending in jpeg, jpg, or png.</small>
  <%= f.text_field :image, :class => 'form-control', :placeholder => "image url"%>
  <%= f.submit 'Save', :class => "btn btn-primary"%>
<% end %>


</div>
