<h1>Details for <%= @product.name %></h1>

Name: <%= @product.name %>
Cost: <%= @product.cost %>
Country: <%= @product.country %>
Image: <%= @product.image %>

<%= link_to "Edit", edit_product_path(@product) %>
