<!DOCTYPE html>
<html>
  <head>
    <title>Gummi-Kingdom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <%= image_tag "logo.jpg", :class => 'navbar-brand', :id => 'brand'%>
      <%= link_to "All Products", products_path, :class => 'navbar-brand' %>
      <%= link_to "New Product", new_product_path, :class => 'navbar-brand' %>

    </nav>
    <div class="container">

      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
  </div>
  </body>
</html>
